<!DOCTYPE html>
<html>
<head>
    <title>login</title>
</head>
<body>

    <center>

        <h2>Ingreso de Credenciales</h2>

        <form action="/validar" method="POST">

            <label>Usuario:</label>
            <input type="text"
                   name="usuario"
                   required>

            <br><br>

            <label>Contraseña:</label>
            <input type="password"
                   name="contrasena"
                   required>

            <br><br>

            <button type="submit">
                Ingresar
            </button>

        </form>

    </center>

</body>
</html>